/**
marrom - rgb(128, 87, 55)
**/

*{
    margin:0;
    padding:0;
}
.logo-index{
    width:100px;
}
header{
    background-color: rgb(128, 87, 55);
    box-shadow: 1px 5px 10px 0px;
}
body{
    background-color: cornsilk
}
button{
    border:none;
    background-color: rgb(128, 87, 55);
    color:aliceblue;
    padding:10px;
    cursor:pointer;
}
button:hover{
    background-color: aliceblue;
    color:black;
    box-shadow: 2px 5px 33px 4px brown;
}
.container-nav-bar{
    width:150px;
    display: flex;
    box-shadow: 25px 10px 33px 8px;
    margin: 0 auto;
    margin-top: 4%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgba(128, 87, 55, 0.835);
    color: #fff;
    text-align: center;
    padding: 10px;
  }