/**
marrom - rgb(128, 87, 55)
**/

*{
    margin:0;
    padding:0;
}
.logo-cadastro{
    width:100px;
}
header{
    background-color: rgb(128, 87, 55);
    box-shadow: 1px 5px 10px 0px;
}
body{
    background-color: rgb(255, 248, 220);
}
main{
    background-color: rgba(128, 87, 55, 70%);
    width: 550px;
    margin:0 auto;
    margin-top: 17vh;
    padding: 03%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 0px black;
}
.container-dados-cadastro{
    display: flex;
    flex-direction: column;
}
.div-aceita{
    width: 200px;
    margin:0 auto;
    display: inline-flex;
    margin-bottom: 10px;
}
.itens-form{
    margin: 3px
}
input{
    width: 250px;
    margin:0;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 02%;
    text-align: center;
    padding: 8px;
    background-color: rgba(255, 248, 220, 0.616);
}
button{
    border:none;
    background-color: rgb(128, 87, 55);
    color:aliceblue;
    padding:10px;
    cursor:pointer;
}
button:hover{
    background-color: aliceblue;
    color:black;
}
.itens-form-nascimento{
    display: flex;
}
#nascimento{
    color: cornsilk;
    margin-left: 65%;
}
#checkbox-aceito{
    width: 25px;
}
.container-confirmar{
    text-align: center;
}